body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 3px solid #CED1D4;
}
.section1{
    background-color: #3DBEFF;
    display: block;
}
.meno{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}
.meno_element{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    font-size: 23px;
}
.sunnysid{
    color: #fff;
    font-size: 25px;
}
.old_sunn{
    padding-top: 17px;
    padding-left: 70px;
    padding-right: 35%;
}
.inner_meno{
    padding-left: 40px;
    color: #fff;
}
.cantact{
    border: 1px solid #6ECEFF;
    border-radius: 50px;
    background-color: #fff;
    color: black;
    display: inline;
    padding: 15px 20px;
    font-size: 25px;
}
.old_can{
    padding-left: 40px;
    padding-top: 17px;
}
.for_h1{
    color: #fff;
    font-size: 50px;
    padding-left: 30%;
    display: inline;
}
.old_h1{
    margin-top: 60px;
}
.oreng_img{
    display: inline-flex;
    flex-direction: column;
    position: relative;
    margin-left:100px;
    margin-top: 0px;
}
.flash{
    padding-left: 300px;
    z-index: 15;
    height: 150px;
    width: 35px;
    position: absolute;
    padding-top: 310px;
    padding-left: 530px;
}
.oreng{
    width: 900px;
    height: 500px;
    display: inline;
}
.old_oreng{
   padding-left: 100px;
   display: inline;
  
}
.ELsection1{
    display: flex;
    flex-direction: row;
}
.inner_text1{
    padding-top: 120px;
    padding-right: 80px;
    padding-left: 100px;
    width: 500px;
}
.inner_text2{
    width: 790px;
    padding-top: 120px;
    padding-left: 100px;
}
.for_img{
    width: 680px;
    height: 560px;
}
.for_img2{
    width: 680px;
    height: 560px;
}
.for_img3{
    width: 680px;
    height: 560px;
    text-align: left;
}
.for_img4{
    width: 647px;
    height: 560px;
    text-align: right;
}
.for_h2{
    color: #2A3442;
}
.text{
    color: #CED1D4;
}
.for_more{
    color: #2A3442;
}
.h1_for_celent{
    padding-top: 70px;
    text-align: center;
    color: #CED1D4;
}
.tree_Element{
    display: flex;
    flex-direction: row;
    padding-top: 100px;
}
.img_for_treeEL{
    margin-left: 200px;
    border-radius: 360px;
}
.one_El{
    display: flex;
    flex-direction: column;
}
.two_El{
    display: flex;
    flex-direction: column;
}
.tree_El{
    display: flex;
    flex-direction: column;
}
.text_for_photos{
    padding-top: 30px;
    padding-left: 100px;
}
.short_text{
    margin-top: 20px;
    padding-left: 180px;
}
.text_for_photos{
    color: #CED1D4;
}
.inner_shorttext{
    color: #2A3442;
}
.inner_shorttext2{
    color: #CFD0D2;
}
.short_text2{
    margin-top: 20px;
    padding-left: 198px;
}
.section4{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.photos{
    width: 400px;
    height: 400px;
    margin-top: 100px;
}
.footer{
    background-color:#93D7C8;
}
.text_fot_footer{
    font-size: 30px;
    color: #2D7466;
    text-align: center;
    padding-top: 60px;
}
.for_link{
    padding-left: 100px;
}
.old_link{
    padding-left: 28%;
    padding-top: 40px;
    color: #457269;
}
a{
    text-decoration: none;
    color: #457269;
}
.icons{
    padding-left: 34%;
}
.bibi-icons{
    padding-left: 60px;
    padding-top: 100px;
    padding-bottom: 50px;
}
@media screen and (max-width:700px) {
    body{
        display: flex;
        flex-direction: column;
    }
    .section1{
        background-color: chartreuse;
    }
}